.button {
  background-color: #4caf50; /* Green background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 10px 20px; /* Some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline-block */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon on hover */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.button:active {
  background-color: #3e8e41; /* Even darker green when clicked */
  box-shadow: 0 5px #666; /* Add shadow */
  transform: translateY(4px); /* Move button down a bit */
}

.withCont {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.withCont h1,
.withCont h2 {
  text-align: center;
  color: #333;
}

.withCont form {
  margin-bottom: 2rem;
  text-align: center;
}

.withCont form select,
.withCont form input {
  width: 500px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.withCont form div {
  text-align: center;
}

.withCont form button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.withCont form button:hover {
  background-color: #0056b3;
}

.withCont table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.withCont table th,
.withCont table td {
  border: 1px solid #ddd;
  padding: 0.8rem;
  text-align: left;
}

.withCont table th {
  background-color: #f2f2f2;
}

.withCont table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.withCont table tbody tr:hover {
  background-color: #f1f1f1;
}

.withCont div {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #333;
}
